<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form-top">
      <h2>Resend confirmation instructions</h2>
    </div>
    <div class="form-bottom">
      <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'login-form'  }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-group">
            <%= f.input :email, :required => true, wrapper: false, :autofocus => true, :input_html => {:class => 'form-email form-control'}, :placeholder => 'Email...' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Resend confirmation instructions", :class => 'btn' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <%= render "users/shared/links" %>
</div>
